<template>
  <div id="events">
    <div v-for="event in events" :key="event.id">
      {{ event.title }}
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      events: [],
      errors: []
    }
  },
  created () {
    axios.get('http://localhost:3000/events')
      .then(response => {
        this.events = response.data
      })
      .catch(e => {
        this.error.push(e)
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
