<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div v-for="event in events" :key="event.id">
      {{ event.title }} / {{ event.slug }}
    </div>
    <router-link to="/events">Go to events</router-link>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',
  data () {
    return {
      msg: 'Bilkalive',
      events: []
    }
  },
  created () {
    axios.get('http://localhost:3000/events')
      .then(response => {
        this.events = response.data
      })
      .catch(e => {
        this.error.push(e)
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
